@model NewsReader.Models.ArticleModels
@{
    ViewBag.Title = "Details";
}
<div class="container">
    <h1>@Html.DisplayFor(model => model.Title)</h1>
    <br />
    <div>
        <div class="panel-left">
            @Html.DisplayFor(model => model.URLToImage)
            @Html.DisplayFor(model => model.PublishedAt)
        </div>
    </div>
    <br />
    <br />
    <p>@Html.DisplayFor(model => model.Description)</p>
    <br />

    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-primary" })
</div>